input[type="text"]{
    outline: 0;
    border: 0;
    padding: 0%;
    width: 80%;
    margin: 0;
}

.nav-bar{
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
}
.search-icon{
    margin: auto 0.5rem;
    font-size: 2rem;
}
.notification-icon{
    font-size: 2.5rem;
    opacity:70%;
}
.profile-icon{
    font-size: 2.2rem;
    opacity:70%;
    margin-left: 1rem;
}

.logo-div,
.search-div,
.profile-div{
    display: flex;
}
.search-div{
    border: 1px solid gray;
    border-radius: 10px;
    margin: 0.3rem 0;
}
.search-div{
    width: 30%;
    margin: 1% auto;
}
.profile-div{
    display: flex;
    align-items: center;
}
.logo{
    object-fit: contain;
}
.logo-text{
    color: rgb(230, 127, 144);
    font-weight: 700;
    font-size: 1.5rem;
    margin:0;
    align-items: center;
    display: flex;
}